RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([a-zA-Z0-9_-]+)$ user.php?link=$1 [L,QSA]
php_value upload_max_filesize 40M
php_value post_max_size 42M